
body{
    background-image: url(BackgroundImages/MountainsColorful.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

footer{
    background-color: white;
    text-align: center;
    margin-top: 40px;
    border-radius: 60px;
}

footer .back-to-top img{
    height: 30px;
    width: 30px;
}

.back-to-top:hover{
    transform: scale(1.15);
}

.navbar{
    position: relative;
    display: flex;
    height: auto;
    background-color: white;
    border-radius: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header .navbar .search{
    position: absolute;
    right: 0px;
    padding: 40px 30px;
    color:white;
    width: auto;
}

.navbar li{
    float: left;
    list-style: none;
    padding: 30px 30px;
}

.navbar li a{
    color: black;
    font-size: 17px;
    text-decoration: none;
    font-weight: bold;
}

.navbar li a:hover{
    animation-name: link-animation;
    animation-iteration-count: infinite;
    animation-duration: 3s;
    animation-direction: alternate;
}

.siteName{
    padding: 10px 170px;
    text-align: center;
    font-size: 60px;
    font-family: fantasy;
    color: cadetblue;
    font-weight: bolder;
    letter-spacing: 3px;
}

.siteName .slogan{
    text-align: center;
    font-size: 15px;
    color: black;
    font-family: 'Courier New', Courier, monospace;
}

.search{
    float: right;
    margin-top: 5px;
    color:white;
    width: auto;
}

.navbar input{
    width: 250px;
    height: auto;
    border: 3px solid black;
    border-radius: 30px;
    padding: 3px 0px 3px 5px;
}

footer .siteName .slogan p{
    text-align: center;
    font-size: smaller;
    font-weight: lighter;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(0, 0, 0);
}

h4{
    padding-top: 30px;
    padding-bottom: 10px;
    padding-left: 10px;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(0, 0, 0);
    font-size: larger;
}

.card{
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 3px 6px 12px 0px black;
    width: 220px;
    height: 250px;
    border-radius: 20px;
    padding: 12px;
    text-align: center;
    transition: 0.5s ease;
    cursor: pointer;
}

.column{
    float: left;
    width: 20%
}

.row{
    margin-left: 50px;
    margin-right: 50px;
    align-self: auto;
    margin-top: 15px;
}

.row::after{
    content: " ";
    display: table;
    clear: both;
}

.row .column .card img{
    width: 220px;
    height: 220px;
}

.row .column .card .song-name{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    font-size: 15px;
    padding: 8px 0px;
}

.card:hover{
    transform: scale(1.15);
    box-shadow: 0px 8px 16px 0px black;
}

#operations-outer-container{
    position: sticky;
    top: 0px;
    margin-top: 20px;
    width: auto;
    height: auto;
    background-color: rgb(255, 75, 111);
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#operations-inner-container{
    margin: 10px 0px;
    border-radius: 45px;
    background-color: rgb(255, 112, 141);
    width: auto;
    height: auto;
}

#operations-inner-container a{
    text-decoration: none;
}

#add_icon,#delete_icon,#update_icon,#search_icon,#feedback_icon{
    border: 3px ridge white;
    border-radius: 30px;
    background-color: rgb(255, 191, 191);
    padding: 10px 60px;
    margin: 15px 40px 10px;
    height: 30px;
    width: 30px;
}

#add_icon:hover{
    transform: scale(1.15);
    box-shadow: 0px 2px 4px 0px rgb(75, 74, 74);
    cursor: pointer;
}

#delete_icon:hover{
    transform: scale(1.15);
    box-shadow: 0px 2px 4px 0px rgb(75, 74, 74);
    cursor: pointer;
}

#update_icon:hover{
    transform: scale(1.15);
    box-shadow: 0px 2px 4px 0px rgb(75, 74, 74);
    cursor: pointer;
}

#search_icon:hover{
    transform: scale(1.15);
    box-shadow: 0px 2px 4px 0px rgb(75, 74, 74);
    cursor: pointer;
}

#feedback_icon:hover{
    transform: scale(1.15);
    box-shadow: 0px 2px 4px 0px rgb(75, 74, 74);
    cursor: pointer;
}

@keyframes link-animation {
    0% { color: rgb(110, 219, 255); }
    25% { color: rgb(255, 109, 109); }
    50% { color: rgb(116, 255, 116); }
    75% { color: rgb(149, 83, 255); }
    100% { color: crimson; }
}